---
layout: blank
body_class: home-intro
title: Reviews
permalink: /reviews/
---
<head>
{% include analytics.html %}
</head>

<section class="intro">
{% include navbar.html %}

  <div class="intro-in">
  <center> <h1 class="intro-title">Reviews Of Sandman</h1>
  <section class="info">


      <div  class="features">

   <ul>
     <li style="color:white;">"If you lose track of time when you’re working then consider using Sandman. Work is important but doing it in a sleep deprived state is hardly good for you."</li>
     <li><a  style="color:white;" target="_blank" href="http://www.addictivetips.com/windows-tips/get-bed-time-alerts-based/">- Addictive Tips Review</a></li>
     <li style="color:white;">"On the whole, having Sandman running in the background on your Mac is an excellent idea if you find yourself forgetting to go to sleep and working through the night right until your wake-up time."</li>
     <li><a  style="color:white;" target="_blank" href="http://mac.softpedia.com/get/Utilities/Epstein-Insomnia.shtml">- Softpedia Mac Review</a></li>
     <li style="color:white;">"After setting everything up, you can minimize the main window and let the app run in the system tray. It displays notifications when needed, but it stays out of your way the rest of the time. In a nutshell, Sandman is a simple but useful application that can help you make the most of the time you dedicate to sleeping."</li>
     <li><a  style="color:white;" target="_blank" href="http://www.softpedia.com/get/Desktop-Enhancements/Clocks-Time-Management/Insomnia.shtml">- Softpedia Windows Review</a></li>
</ul>

 </div>


</section>
</div>
{% include footer.html %}
</section>
