---
layout: blank
body_class: home-intro
title: Reviews
permalink: /reviews/
---
<head>
{% include analytics.html %}
</head>

<section class="intro">
{% include navbar.html %}

  <div class="intro-in">
  <center> <h1 class="intro-title">Reviews Of Sandman</h1>
  <section class="info">


      <div  class="features">

   <ul>
     <li><a  style="color:white;" target="_blank" href="http://www.addictivetips.com/windows-tips/get-bed-time-alerts-based/">Addictive Tips Review</a></li>
     <li><a  style="color:white;" target="_blank" href="http://mac.softpedia.com/get/Utilities/Epstein-Insomnia.shtml">Softpedia Mac Review</a></li>
     <li><a  style="color:white;" target="_blank" href="http://www.softpedia.com/get/Desktop-Enhancements/Clocks-Time-Management/Insomnia.shtml">Softpedia Windows Review</a></li>
</ul>

 </div>


</section>
</div>
{% include footer.html %}
</section>
