
@import "bourbon/bourbon";
@import "variables";
@import "mixins";
@import "base/base";

section.info {
  display: flex;
  flex-wrap: wrap;

}

.features {
  margin-left: auto;
  margin-right: auto;
  padding: 7px 20px 0;
  width: calc(100% - 200px);
  box-sizing: border-box;
  font-size: 1.7em;
  letter-spacing: .5px;
  line-height: 1.25;
  max-width:50%;
  min-width:800px;
  max-height:580px;
  min-height:10%;
}

ul {
  margin: 0;
  padding: 0;
  font-weight: 100;
  list-style-type: none;
}

li {
  padding: 10px 0;
}

span {
  font-weight: 400;
}

.cols {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count:2;
    column-gap:10px;
}

.alignInfo {
  margin-top: 35px;
}

.bottom {
  margin-top: 250px;
}
