.app {
  background-color: color('primary-light');
  color: color('white');
}

.input-group {
  border-color: darken(color('primary-light'), 5);

  &-label {
    background-color: color('primary-light');
    color: color('white');
  }
}

button {
  border: 1px solid darken(color('primary-light'), 10);
  background: darken(color('primary-light'), 5);
  color: color('white');

  &:hover {
    background: darken(color('primary-light'), 10);
  }
}
