@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
.button {
  appearance: none;
  background-color: #814FA3;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  -moz-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
.button:hover,
.button:focus {
  background-color: #673f82;
  color: #fff;
}
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover,
.button:disabled:hover {
  background-color: #814FA3;
}
button.button-ghost, input[type="button"].button-ghost, input[type="reset"].button-ghost, input[type="submit"].button-ghost,
.button.button-ghost {
  background-color: transparent;
  border: 1px solid #fff;
}
button.button-ghost:hover, button.button-ghost:focus, button.button-ghost:active, input[type="button"].button-ghost:hover, input[type="button"].button-ghost:focus, input[type="button"].button-ghost:active, input[type="reset"].button-ghost:hover, input[type="reset"].button-ghost:focus, input[type="reset"].button-ghost:active, input[type="submit"].button-ghost:hover, input[type="submit"].button-ghost:focus, input[type="submit"].button-ghost:active,
.button.button-ghost:hover,
.button.button-ghost:focus,
.button.button-ghost:active {
  background-color: rgba(255, 255, 255, 0.1);
}

fieldset {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  margin: 0 0 1em;
  padding: 2em;
}

input,
label,
select {
  display: block;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 1rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.5em;
}
label.required::after {
  content: "*";
}
label abbr {
  display: none;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 1em;
  padding: 0.66667em;
  transition: border-color 150ms ease;
  width: 100%;
}
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover {
  border-color: #b8b8b8;
}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus {
  border-color: #814FA3;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(115, 71, 146, 0.7);
  outline: none;
}
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple=multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple=multiple]:disabled:hover {
  border: 1px solid #e6e6e6;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.5em;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

input[type="file"] {
  margin-bottom: 1em;
  width: 100%;
}

select {
  margin-bottom: 2em;
  max-width: 100%;
  width: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
dl {
  margin-bottom: 1em;
}
dl dt {
  font-weight: bold;
  margin-top: 1em;
}
dl dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 1em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #adadad;
  font-weight: 600;
  padding: 1em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #e6e6e6;
  padding: 1em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/ProximaNova-Light-42c399da47c6ef57a69bdc43c142d9e0.eot");
  src: url("../fonts/ProximaNova-Light-42c399da47c6ef57a69bdc43c142d9e0.eot?") format("embedded-opentype"), url("../fonts/ProximaNova-Light-6e657e723c01367670cbefca2d8a24a1.woff") format("woff"), url("../fonts/ProximaNova-Light-c7361c70f999f4ecb48bde9982a2fc8e.ttf") format("truetype"), url("../fonts/ProximaNova-Light-4b06d3a529c9c826d74f5ec127e6794b.svg") format("svg");
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular-c451d7b3d80f69412df81a1a3a7352f7.eot");
  src: url("../fonts/ProximaNova-Regular-c451d7b3d80f69412df81a1a3a7352f7.eot?") format("embedded-opentype"), url("../fonts/ProximaNova-Regular-8da92e56f55db5989384d7de4bfe67fe.woff") format("woff"), url("../fonts/ProximaNova-Regular-5d6460d44f97092b29090dce3334e943.ttf") format("truetype"), url("../fonts/ProximaNova-Regular-afb24dc1729319aa4312beb156e322b4.svg") format("svg");
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/ProximaNova-RegularIt-71749f77d5fcc0289ff0321ead78be00.eot");
  src: url("../fonts/ProximaNova-RegularIt-71749f77d5fcc0289ff0321ead78be00.eot?") format("embedded-opentype"), url("../fonts/ProximaNova-RegularIt-eba90fe199cf3fa3999189e25d691cba.woff") format("woff"), url("../fonts/ProximaNova-RegularIt-f40efaf943299639efae56f0db6d0fa8.ttf") format("truetype"), url("../fonts/ProximaNova-RegularIt-3bc258b118e61c4e094363ed9032e8f7.svg") format("svg");
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/ProximaNova-Semibold-523b93c5938637c5dfdcbde51c0ea43d.eot");
  src: url("../fonts/ProximaNova-Semibold-523b93c5938637c5dfdcbde51c0ea43d.eot?") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold-59ec19cde74dec0b7a1ea46ce775811b.woff") format("woff"), url("../fonts/ProximaNova-Semibold-34c88b3bc9fce5aa4e9b328edf5716e0.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold-6d67e36a9e19cc4fe60195bddc332634.svg") format("svg");
}
body {
  color: #737373;
  font-family: "Proxima Nova", Arial, sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 1em;
}

p {
  margin: 0 0 1em;
}

a {
  color: #814FA3;
  text-decoration: underline;
  transition: color 150ms ease;
}
a:active, a:focus, a:hover {
  text-decoration: none;
  color: #613b7a;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

hr {
  border-bottom: 1px solid #e6e6e6;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 2em 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0 5px;
  background-color: #e8e8e8;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0;
}
pre code {
  line-height: 1.75em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background-color: #fff;
}

.container {
  max-width: 1024px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}

.site-footer::after,
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

body.home-intro {
  width: 100%;
  display: table;
}
body.home-intro .intro {
  display: table-cell;
}

.intro {
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 0 2em;
  text-align: center;
  color: #d9d9d9;
  background: #71458e;
  overflow: hidden;
}

.intro-in {
  z-index: 2;
  position: relative;
  text-align: center;
  display: inline-block;
  max-width: 1224px;
  margin: auto;
  padding: 4em 2em;
}
@media screen and (min-width: 768px) {
  .intro-in {
    padding: 6em 0;
  }
}
@media screen and (min-width: 1024px) {
  .intro-in {
    padding: 9em 0;
  }
}

.intro-title,
.post-header .post-title {
  font-size: 2.6rem;
  margin: 0 0 20px;
  color: #fff;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .intro-title,
  .post-header .post-title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .intro-title,
  .post-header .post-title {
    font-size: 3.6rem;
  }
}
@media screen and (min-width: 1824px) {
  .intro-title,
  .post-header .post-title {
    font-size: 4rem;
  }
}

.intro-subtitle {
  margin-bottom: 1em;
  font-size: 1.2em;
  font-family: "Georgia", serif;
  font-weight: 500;
  font-style: italic;
}
@media screen and (min-width: 1024px) {
  .intro-subtitle {
    font-size: 1.6rem;
  }
}

.menu-burger {
  position: fixed;
  z-index: 30;
  right: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #814FA3;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  -moz-transition: -moz-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}
.menu-burger .nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #fff;
}
.menu-burger .nav-icon::before, .menu-burger .nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.menu-burger .nav-icon::before {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.menu-burger .nav-icon::after {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.no-touch .menu-burger:hover .nav-icon::after {
  top: 2px;
}
.no-touch .menu-burger:hover .nav-icon::before {
  top: -2px;
}
.menu-burger svg {
  position: absolute;
  top: 0;
  left: 0;
}
.menu-burger circle {
  /* circle border animation */
  -webkit-transition: stroke-dashoffset 0.2s 0s;
  -moz-transition: stroke-dashoffset 0.2s 0s;
  transition: stroke-dashoffset 0.2s 0s;
}
.navigation-is-open .menu-burger {
  /* rotate trigger when navigation becomes visible */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.navigation-is-open .menu-burger .nav-icon::after,
.navigation-is-open .menu-burger .nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s;
  -moz-transition: -moz-transform 0.3s, width 0.3s;
  transition: transform 0.3s, width 0.3s;
}
.navigation-is-open .menu-burger .nav-icon::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigation-is-open .menu-burger .nav-icon::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .navigation-is-open .menu-burger:hover .nav-icon::after, .no-touch .navigation-is-open .menu-burger:hover .nav-icon::before {
  top: 0;
}
.navigation-is-open .menu-burger circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.2s 0.3s;
  -moz-transition: stroke-dashoffset 0.2s 0.3s;
  transition: stroke-dashoffset 0.2s 0.3s;
}
@media screen and (min-width: 1224px) {
  .menu-burger {
    top: 40px;
  }
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  visibility: hidden;
  background-color: #0d0d0d;
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.navbar .navigation-wrapper {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 40px 5%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .navbar {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.navigation-is-open .navbar .navigation-wrapper {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.navbar h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 1.3rem;
  font-weight: 800;
  color: #734792;
  text-transform: uppercase;
}
.navbar h2::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}
.navbar .primary-nav {
  margin-top: 60px;
}
.navbar .primary-nav li {
  margin: 1.6em 0;
}
.navbar .primary-nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  display: inline-block;
}
.navbar .primary-nav a.selected {
  color: #fff;
}
.no-touch .navbar .primary-nav a:hover {
  color: #fff;
}
@media screen and (min-width: 1224px) {
  .navbar .navigation-wrapper {
    padding: 62px 20%;
  }
  .navbar .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
  .navbar .primary-nav {
    margin-top: 0;
  }
  .navbar h2 {
    font-size: 1.6rem;
    margin-bottom: 5.6em;
  }
  .navbar .primary-nav li {
    margin: 2em 0;
  }
  .navbar .primary-nav a {
    font-size: 2rem;
  }
}

body:not(.navigation-is-open) .navbar .navigation-wrapper {
  overflow: hidden;
}

body.navigation-is-open .menu-burger {
  background-color: #000;
}

.post-header {
  margin-bottom: 2em;
  padding: 5em 2em;
}

.post-title,
.post-meta {
  font-weight: 300;
}
.post-title a,
.post-meta a {
  text-decoration: none;
  color: #737373;
}
.post-title a:after,
.post-meta a:after {
  content: '➝';
  display: inline-block;
  left: -5px;
  opacity: 0;
  position: relative;
  -webkit-transition: left 0.15s ease-in-out, opacity 0.15s ease-in-out;
  -moz-transition: left 0.15s ease-in-out, opacity 0.15s ease-in-out;
  transition: left 0.15s ease-in-out, opacity 0.15s ease-in-out;
  top: 0;
}
.post-title a:hover, .post-title a:focus, .post-title a:active,
.post-meta a:hover,
.post-meta a:focus,
.post-meta a:active {
  color: #814FA3;
}
.post-title a:hover:after, .post-title a:focus:after, .post-title a:active:after,
.post-meta a:hover:after,
.post-meta a:focus:after,
.post-meta a:active:after {
  opacity: 1;
  left: 10px;
}

.post-meta {
  font-style: italic;
}

.post-item {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #f2f2f2;
}
.post-item .post-title {
  margin-bottom: 10px;
}
.post-item .post-meta {
  opacity: .7;
  font-size: .8rem;
}
.post-item:last-child {
  border: none;
}

.highlight {
  padding: 0;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
  /* Generic.Subheading & Diff Unified/Comment? */
  /* Generic.Deleted & Diff Deleted */
  /* Generic.Inserted & Diff Inserted */
}
.highlight, .highlight .hll, .highlight pre, .highlight code {
  background-color: #272822 !important;
  border: none;
}
.highlight pre {
  position: relative;
  margin: 0;
  padding: 1.3em;
  white-space: pre;
  line-height: 23px;
  overflow-x: auto;
  margin-bottom: 0;
  word-break: inherit;
  word-wrap: inherit;
}
.highlight pre, .highlight pre code {
  color: #eeffdd;
}
.highlight pre code {
  white-space: pre;
  padding: 0 !important;
}
.highlight pre code * {
  white-space: nowrap;
}
.highlight .c {
  color: #75715e;
}
.highlight .err {
  color: #f2f1f2;
}
.highlight .k {
  color: #66d9ef;
}
.highlight .l {
  color: #ae81ff;
}
.highlight .n {
  color: #f8f8f2;
}
.highlight .o {
  color: #f92672;
}
.highlight .p {
  color: #f8f8f2;
}
.highlight .cm {
  color: #75715e;
}
.highlight .cp {
  color: #75715e;
}
.highlight .c1 {
  color: #75715e;
}
.highlight .cs {
  color: #75715e;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc {
  color: #66d9ef;
}
.highlight .kd {
  color: #66d9ef;
}
.highlight .kn {
  color: #f92672;
}
.highlight .kp {
  color: #66d9ef;
}
.highlight .kr {
  color: #66d9ef;
}
.highlight .kt {
  color: #66d9ef;
}
.highlight .ld {
  color: #e6db74;
}
.highlight .m {
  color: #ae81ff;
}
.highlight .s {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nb {
  color: #f8f8f2;
}
.highlight .nc {
  color: #a6e22e;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ni {
  color: #f8f8f2;
}
.highlight .ne {
  color: #a6e22e;
}
.highlight .nf {
  color: #a6e22e;
}
.highlight .nl {
  color: #f8f8f2;
}
.highlight .nn {
  color: #f8f8f2;
}
.highlight .nx {
  color: #a6e22e;
}
.highlight .py {
  color: #f8f8f2;
}
.highlight .nt {
  color: #f92672;
}
.highlight .nv {
  color: #f8f8f2;
}
.highlight .ow {
  color: #f92672;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .mf {
  color: #ae81ff;
}
.highlight .mh {
  color: #ae81ff;
}
.highlight .mi {
  color: #ae81ff;
}
.highlight .mo {
  color: #ae81ff;
}
.highlight .sb {
  color: #e6db74;
}
.highlight .sc {
  color: #e6db74;
}
.highlight .sd {
  color: #e6db74;
}
.highlight .s2 {
  color: #e6db74;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .sh {
  color: #e6db74;
}
.highlight .si {
  color: #e6db74;
}
.highlight .sx {
  color: #e6db74;
}
.highlight .sr {
  color: #e6db74;
}
.highlight .s1 {
  color: #e6db74;
}
.highlight .ss {
  color: #e6db74;
}
.highlight .bp {
  color: #f8f8f2;
}
.highlight .vc {
  color: #f8f8f2;
}
.highlight .vg {
  color: #f8f8f2;
}
.highlight .vi {
  color: #f8f8f2;
}
.highlight .il {
  color: #ae81ff;
}
.highlight .gu {
  color: #75715e;
}
.highlight .gd {
  color: #f92672;
}
.highlight .gi {
  color: #a6e22e;
}

.site-footer {
  padding: 2em 0;
  text-align: center;
}
.site-footer .container {
  padding-top: 2em;
  border-top: 1px solid #e6e6e6;
}
.site-footer p {
  margin-bottom: 0;
  color: #737373;
  float: left;
}
.site-footer .social {
  float: right;
}

.social li {
  display: inline-block;
  margin-left: 5px;
}
.social a {
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  color: #737373;
  text-decoration: none;
  opacity: .5;
}
.social a:hover, .social a:focus, .social a:active {
  opacity: 1;
}
.social .icon {
  font-size: 1.2rem;
}

@font-face {
  font-family: "dotx-icons";
  src: url("../fonts/dotx-icons.eot?vs69d0");
  src: url("../fonts/dotx-icons.eot?vs69d0#iefix") format("embedded-opentype"), url("../fonts/dotx-icons.ttf?vs69d0") format("truetype"), url("../fonts/dotx-icons.woff?vs69d0") format("woff"), url("../fonts/dotx-icons.svg?vs69d0#dotx-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "dotx-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "";
}

.icon-comments:before {
  content: "";
}

.icon-comment-o:before {
  content: "";
}

.icon-comments-o:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-facebook-rounded:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-twitter-rounded:before {
  content: "";
}

.icon-feed:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

section.info {
  display: flex;
  flex-wrap: wrap;
  animation: fadeIn 2s;
}

.features {
  padding: 7px 20px 0;
  width: calc(100% - 800px);
  box-sizing: border-box;
  font-size: 1.7em;
  letter-spacing: 1px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  font-weight: 100;
  list-style-type: none;
}

li {
  padding: 10px 0;
}

span {
  font-weight: 400;
}
