{% if paginator.total_pages > 1 %}
<nav class="pagination" role="pagination">
  <ul>
    {% assign url = site.baseurl | append: "/blog/" %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page > 1 %}
        {% assign prev = 'page/' | append: paginator.previous_page %}
      {% endif %}
      <li><a class="prev btn btn-ghost" href="{{ url | append: prev }}" title="Articles new">&laquo; Prev</a></li>
    {% else %}
      <li><span class="prev btn btn-ghost disabled">&laquo; Prev</span></li>
    {% endif %}
    <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>
    {% if paginator.next_page %}
      <li><a class="next btn btn-ghost" href="{{ url | append: 'page/' | append: paginator.next_page }}" title="Articles old">Next &raquo;</a></li>
    {% else %}
      <li><span class="next btn btn-ghost disabled">Next &raquo;</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}